.main-page {
   padding: 10px 0;
   /*background-image: url(../img/books-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;*/
   background: #d4b48b;
}


.purchased-books,
.recommended-books {
  margin-bottom: 10px;
}

.purchased-books,
.recommended-books,
.interesting {
  background-image: url(../img/books-bg4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 3.45em;
}

.button-to-top {
width:100px;
text-align:center;
padding:5px;
position:fixed;
bottom:10px;
right:0;
cursor:pointer;
display:none;
color:#333;
z-index: 10;
}

.button-to-top img {
  opacity: 0.6;
}

.carousel-title  {
  text-align: center;
  margin-bottom: 3em;
}

.second-page {
  background-image: url(../img/bg_contentblock.png);
}

.page-header {
  /*margin-bottom: 10px;*/
}

.page-header__logo {
  background: #1578;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.page-header__logo img {

}



.page-content {
  background: white;
  padding-top: 20px;
}

.page-content__welcome,
.page-content__congratulate {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.page-content__welcome {
  color: red;
  font-size: 18px;
  font-weight: normal;
}

.page-content__image {
  background-image: url(../img/vasil-lednev.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 320px;
  margin-bottom: 10px;
}



@media (min-width: 768px) {
    /*navbar page.html*/
  

    .page-content__text {
      display: inline;
    }

    .page-content__image {
      float: left;
      margin-right: 10px;
    }

}

@media (min-width: 992px) {
  .page-content__image {
    margin-right: 0px;
  }
}
