
.main-page {
  padding: 10px 0;
  /*background-image: url(../img/books-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;*/
  background: #d4b48b;
}
.purchased-books,
.recommended-books {
  margin-bottom: 10px;
}
.purchased-books,
.recommended-books,
.interesting {
  background-image: url(../img/books-bg4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 5vw;
}
.carousel-title {
  margin: 0;
  font-size: 6vw;
  padding-top: 3vw;
  text-align: center;
  margin-bottom: 12vw;
}
@media (min-width:540px) {
  .carousel-title {
    padding-top: 2vw;
    font-size: 5vw;
  }
}
@media (min-width:768px) {
  .purchased-books,
  .recommended-books,
  .interesting {
    padding-bottom: 3vw;
  }
  .carousel-title {
    padding-top: 0.5vw;
  }
}
@media (min-width:992px) {
  .purchased-books,
  .recommended-books,
  .interesting {
    padding-bottom: 2.5vw;
  }
  .carousel-title {
    padding-top: 1vw;
    font-size: 45px;
  }
}

.button-to-top {
  width: 100px;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 0;
  cursor: pointer;
  display: none;
  color: #333;
  z-index: 10;
}
.button-to-top img {
  opacity: 0.6;
}

.carousel {
  width: auto;
  display: flex;
  overflow: hidden;
  position: relative;
}
.next,
.prev {
  position: absolute;
  top: 50%;
}
.next {
  right: 0;
}
.carousel__item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .carousel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.carousel__item {
  display: none;
  flex-shrink: 0;
  width: 50%;
  margin: 0;
  text-align: center;
  padding: 0 1%;
}
@media (min-width: 768px) {
  .carousel__item {
    width: 33%;
  }
}
@media (min-width: 1200px) {
  .carousel__item {
    width: 25%;
  }
}
* {
  box-sizing: border-box;
}
@keyframes left {
  from {
    margin-left: 0;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    margin-left: -50%;
    opacity: 0;
  }
}
@keyframes right {
  from {
    margin-left: -50%;
  }
  to {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  @keyframes left {
    from {
      margin-left: 0;
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    to {
      margin-left: -33%;
      opacity: 0;
    }
  }
  @keyframes right {
    from {
      margin-left: -33%;
    }
    to {
      margin-right: 0;
    }
  }
}
@media (min-width: 1200px) {
  @keyframes left {
    from {
      margin-left: 0;
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    to {
      margin-left: -25%;
      opacity: 0;
    }
  }
  @keyframes right {
    from {
      margin-left: -25%;
    }
    to {
      margin-right: 0;
    }
  }
}
.carousel--move-left {
  animation-name: left;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
.carousel--move-right {
  animation-name: right;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.carousel--opacity {
  animation-name: opacity;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

nav {
  display: block;
}
.page-navbar {
  padding: 0 10px;
}
.navbar-toggler {
  margin-bottom: 5px;
}
.page-navbar__link {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid grey;
  background: white;
  color: #5b5350;
  text-transform: uppercase;
}
.page-navbar__link:hover {
  color: #080508;
}
@media (min-width:768px) {
  /*navbar page.html*/
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 0.5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex!important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}

.second-page {
  background-image: url(../img/bg_contentblock.png);
}
.page-header {
  /*margin-bottom: 10px;*/
}
.page-header__logo {
  background: #1578;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.page-content {
  background: white;
  padding-top: 20px;
}
.page-content__welcome,
.page-content__congratulate {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.page-content__welcome {
  color: red;
  font-size: 18px;
  font-weight: normal;
}
.page-content__image {
  background-image: url(../img/vasil-lednev.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 320px;
  margin-bottom: 10px;
}
@media (min-width:768px) {
  .page-content__text {
    display: inline;
  }
  .page-content__image {
    float: left;
    margin-right: 10px;
  }
}
@media (min-width:992px) {
  .page-content__image {
    margin-right: 0px;
  }
}
