
.admin-flag {
  display: block;
  width: 60px;
  height: 50px;
  background: #c3ae93;
  position: fixed;
  top: 50%;
  right: 0;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
.flag {
  position: fixed;
  top: 50%;
  right: 0;
  background-color: transparent;
  width: 100px;
  height: 50px;
}
.flag::before {
  content: '';
  display: inline-block;
  position: absolute;
  right: 60px;
  width: 0;
  height: 0;
  bottom: 0;
  border-top: 25px solid #c3ae93;
  border-bottom: 25px solid #c3ae93;
  border-left: 50px solid transparent;
}

.admin__body {
  background: #95a6ad;
}
.admin-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding: 30px;
  color: black;
  justify-content: center;
  border: 2px solid #92aac4;
  background: #f8fdff;
}
.admin-title {
  width: 100%;
  text-align: center;
}
.admin-container__row {
  display: flex;
  width: 100%;
  max-width: 1100px;
  justify-content: space-between;
  vertical-align: middle;
}
.admin-container__row--central {
  max-width: none;
  justify-content: center;
  padding-top: 20px;
}
.admin-container__row--central .btn {
  margin: 0;
}
.admin-container__items {
  width: 100%;
}
.admin-container__input-text {
  display: block;
  width: 78%;
  max-width: 300px;
  margin: 5px 0;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  color: black;
  background-color: #f8fdff;
  border: 2px solid #95a6ad;
  outline: none;
}
.admin-container__text:focus {
  border-radius: #95a6ad;
}
.admin-container__row p {
  margin: 0;
  padding: 15px 0 0 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  height: 30px;
}
.admin-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.admin-container input[type="radio"] {
  display: none;
}
input[type="radio"]:nth-of-type(1):checked ~ .admin-container__items .admin-container__item:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .admin-container__items .admin-container__item:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .admin-container__items .admin-container__item:nth-of-type(3) {
  display: block;
}
input[type="radio"]:nth-of-type(1):checked ~ .admin-menu .admin-menu__item:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .admin-menu .admin-menu__item:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .admin-menu .admin-menu__item:nth-of-type(3) {
  background: rgba(146, 170, 196, 0.7);
}
@media (min-width: 768px) {
  .admin-container {
    width: 90%;
    max-width: 1020px;
    margin: 30px auto;
  }
}
.admin-container__chapter-link {
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.admin-container__chapter-link:hover,
.admin-container__chapter-link:active,
.admin-container__chapter-link:visited {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}
.admin_container__wrapper .hidden,
.hidden {
  display: none;
}
.admin_container__wrapper .visible,
.visible {
  display: block;
}
.admin_container__wrapper {
  padding-top: 50px;
  width: 100%;
  text-align: center;
}
.admin_container__wrapper > div {
  text-align: center;
}
.admin-container__input-text--center {
  display: inline;
  width: 100%;
  max-width: none;
}
.admin-container__row .col {
  position: relative;
  box-sizing: border-box;
  width: 13%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  overflow: hidden;
  text-align: center;
}
.admin-container__row .col:first-child {
  width: 4%;
  border-left: 1px solid black;
}
.admin-container__row .col:last-child {
  width: 4%;
}
.admin-container__row--big {
  height: 100px;
}
.showbook__btn {
  display: block;
  width: auto;
  padding: 2px 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.showbook__btn:hover,
.showbook__btn:active {
  color: rgba(0, 0, 0, 0.7);
}
.showbook__btn.disabled,
.showbook__btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.showbook__btn.disabled:hover,
.showbook__btn:disabled:hover {
  color: rgba(0, 0, 0, 0.7);
}
.del {
  position: relative;
  font-size: 0;
}
.del::after,
.del::before {
  position: absolute;
  left: center;
  top: 30px;
  margin-left: -10px;
  content: "";
  width: 20px;
  height: 2px;
  background: #000;
}
.del::after {
  transform: rotate(45deg);
}
.del::before {
  transform: rotate(-45deg);
}

.main-page {
  padding: 10px 0;
  /*background-image: url(../img/books-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;*/
  background: #d4b48b;
}
.purchased-books,
.recommended-books {
  margin-bottom: 10px;
}
.purchased-books,
.recommended-books,
.interesting {
  background-image: url(../img/books-bg4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 5vw;
}
.carousel-title {
  margin: 0;
  font-size: 6vw;
  padding-top: 3vw;
  text-align: center;
  margin-bottom: 12vw;
}
@media (min-width:540px) {
  .carousel-title {
    padding-top: 2vw;
    font-size: 5vw;
  }
}
@media (min-width:768px) {
  .purchased-books,
  .recommended-books,
  .interesting {
    padding-bottom: 3vw;
  }
  .carousel-title {
    padding-top: 0.5vw;
  }
}
@media (min-width:992px) {
  .purchased-books,
  .recommended-books,
  .interesting {
    padding-bottom: 2.5vw;
  }
  .carousel-title {
    padding-top: 1vw;
    font-size: 45px;
  }
}

.btn {
  display: block;
  width: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #8dc6e3;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: #c3ae93;
}
.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #c3ae93;
}
.file_upload {
  display: block;
  position: relative;
  overflow: hidden;
  width: 78%;
  margin: 10px 0;
  max-width: 200px;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 16px;
  line-height: 24px;
}
.file_upload input[type=file] {
  position: absolute;
  padding: 0;
  left: 0;
  top: 0;
  padding: 1px;
  margin: 10px 0;
  transform: scale(20);
  letter-spacing: 10em;
  /* IE 9 fix */
  -ms-transform: scale(20);
  /* IE 9 fix */
  opacity: 0;
  cursor: pointer;
}

.button-to-top {
  width: 100px;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 0;
  cursor: pointer;
  display: none;
  color: #333;
  z-index: 10;
}
.button-to-top img {
  opacity: 0.6;
}
.button-to-top img:hover {
  opacity: 1;
}

.carousel {
  width: auto;
  display: flex;
  overflow: hidden;
  position: relative;
}
.next,
.prev {
  font-size: 0;
  position: absolute;
  top: 50%;
  z-index: 100;
  margin: 0;
  margin-top: -20px;
  padding: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  width: 40px;
  height: 40px;
  border: none;
}
.prev:active,
.next:active {
  background: rgba(255, 255, 255, 0.7);
}
.next {
  right: 0;
}
.next:before,
.next:after,
.prev:before,
.prev:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  background: #000;
}
.next:before,
.next:after {
  left: 14px;
}
.prev:before,
.prev:after {
  right: 14px;
}
.next:before {
  top: 14px;
  transform: rotate(45deg);
}
.next:after {
  top: 23px;
  transform: rotate(-45deg);
}
.prev:after {
  top: 14px;
  transform: rotate(135deg);
}
.prev:before {
  top: 23px;
  transform: rotate(-135deg);
}
.carousel__item {
  display: block;
}
.carousel__item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .carousel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .next,
  .prev {
    margin-top: -25px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
  }
  .prev:hover,
  .next:hover {
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }
  .next {
    right: 0;
  }
  .next:before,
  .next:after,
  .prev:before,
  .prev:after {
    height: 3px;
    width: 20px;
  }
  .next:before,
  .next:after {
    left: 17px;
  }
  .prev:before,
  .prev:after {
    right: 17px;
  }
  .next:before {
    top: 16px;
  }
  .next:after {
    top: 28px;
  }
  .prev:after {
    top: 16px;
  }
  .prev:before {
    top: 28px;
  }
}
.carousel__item {
  display: none;
  flex-shrink: 0;
  width: 50%;
  overflow: hidden;
  margin: 0;
  text-align: center;
  padding: 0 1%;
}
@media (min-width: 768px) {
  .carousel__item {
    width: 33%;
  }
}
@media (min-width: 1200px) {
  .carousel__item {
    width: 25%;
  }
}
* {
  box-sizing: border-box;
}
@keyframes left {
  from {
    margin-left: 0;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    margin-left: -50%;
    opacity: 0;
  }
}
@keyframes right {
  from {
    margin-left: -50%;
  }
  to {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  @keyframes left {
    from {
      margin-left: 0;
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    to {
      margin-left: -33%;
      opacity: 0;
    }
  }
  @keyframes right {
    from {
      margin-left: -33%;
    }
    to {
      margin-right: 0;
    }
  }
}
@media (min-width: 1200px) {
  @keyframes left {
    from {
      margin-left: 0;
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    to {
      margin-left: -25%;
      opacity: 0;
    }
  }
  @keyframes right {
    from {
      margin-left: -25%;
    }
    to {
      margin-right: 0;
    }
  }
}
.carousel--move-left {
  animation-name: left;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
.carousel--move-right {
  animation-name: right;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.carousel--opacity {
  animation-name: opacity;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.main-nav {
  position: relative;
  width: auto;
  min-height: 50px;
  background-color: #8dc6e3;
}
.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  background-color: #8dc6e3;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover {
  background-color: #624530;
}
.main-nav__toggle:active {
  background-color: #624530;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff,
                0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__items,
.main-nav__user-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  background-color: #f8fdff;
  border-top: 1px solid #95a6ad;
  border-bottom: 1px solid #95a6ad;
}
.main-nav__item a[href]:hover {
  background-color: #e0e5e8;
  border-top-color: #84959d;
}
.main-nav__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #6a4d38;
  border-top-color: #6a4d38;
}
.main-nav__user-login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.main-nav__user-login::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 21px;
  width: 18px;
  height: 16px;
  background-image: url("../img/icon-login.png");
  background-position: 0 0;
  opacity: 0.3;
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--closed .main-nav__item--active {
    display: block;
  }
  .main-nav--closed .main-nav__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--closed .main-nav__user-items {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    height: 80vx;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    -webkit-box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wraper {
    position: static;
    height: auto;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
  .main-nav--nojs .main-nav__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .main-nav__user-items {
    display: block;
    background-color: #6a4d38;
  }
}
@media (min-width: 768px) {
  .main-nav {
    margin-top: 10px;
    width: 30%;
    vertical-align: top;
    display: inline-block;
  }
  .main-nav__toggle {
    display: none;
  }
}

.chapters__book {
  text-align: center;
}
@media (min-width: 768px) {
  .chapters {
    margin: 10px;
    display: inline-block;
    width: 66%;
    background: #f8fdff;
  }
  .chapters__book {
    float: left;
    margin: 20px 20px 0 20px;
  }
  .chapters__text {
    padding: 20px;
    text-align: justify;
  }
}


.modal-content {
  position: absolute;
  display: block;
  z-index: 10;
  width: 320px;
  box-sizing: border-box;
  top: 136px;
  left: 50%;
  margin-left: -160px;
  padding: 30px 20px 36px 20px;
  background: #fff;
  color: #000;
}
.modal-content--close {
  display: none;
}
.modal-content--show {
  display: block;
}
.modal-content__title {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
}
.modal-content p {
  margin: 0 0 17px 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
}
.modal-content input[type="text"],
.modal-content input[type="password"] {
  position: relative;
  width: 280px;
  box-sizing: border-box;
  margin: 0 auto 6px auto;
  padding: 13px 55px 16px 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: #000;
  text-transform: none;
  outline: none;
  border: 1px solid #e5ddd5;
}
.modal-content input[type="text"]::-webkit-input-placeholder,
.modal-content input[type="password"]::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 30px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000000;
}
.modal-content input[type="text"]:-ms-input-placeholder,
.modal-content input[type="password"]:-ms-input-placeholder {
  font-size: 18px;
  line-height: 30px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000000;
}
.modal-content input[type="text"]::-moz-placeholder,
.modal-content input[type="password"]::-moz-placeholder {
  color: #000;
}
.modal-content input[type="text"]:-moz-placeholder,
.modal-content input[type="password"]:-moz-placeholder {
  color: #000;
}
@media (min-width: 768px) {
  .modal-content {
    position: fixed;
    top: 130px;
    margin-left: -230px;
    width: 460px;
    padding: 55px 70px 60px 70px;
  }
  .modal-content__title {
    font-size: 40px;
    line-height: 40px;
  }
  .modal-content input[type="text"] {
    width: 320px;
  }
  .modal-content__close {
    position: absolute;
    top: 73px;
    right: -90px;
    z-index: 105;
    width: 26px;
    height: 26px;
    font-size: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .modal-content__close:active {
    background-color: transparent;
  }
  .modal-content__close::before,
  .modal-content__close::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    background-color: #ffffff;
    transform: rotate(45deg);
    transition: background-color 0.1s linear;
  }
  .modal-content__close::before {
    transform: rotate(-45deg);
  }
  .modal-content__close:hover::before,
  .modal-content__close:hover::after,
  .modal-content__close:focus::before,
  .modal-content__close:focus::after {
    background-color: #826550;
  }
  .modal-content__close:active::before,
  .modal-content__close:active::after {
    opacity: 0.5;
  }
}

nav {
  display: block;
}
.page-navbar {
  padding: 0 10px;
}
.navbar-toggler {
  margin-bottom: 5px;
}
.page-navbar__link {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid grey;
  background: white;
  color: #5b5350;
  text-transform: uppercase;
}
.page-navbar__link:hover {
  color: #080508;
}
@media (min-width:768px) {
  /*navbar page.html*/
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 0.5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex!important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}

body {
  margin: 0;
}
.book-name {
  text-align: center;
}
.second-page {
  background-image: url(../img/bg_contentblock.png);
}
@media (min-width: 768px) {
  .container {
    width: 84%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .page-header {
    margin-left: 30%;
    width: 66%;
    padding: 0;
    padding-left: 15px;
  }
  .book-name {
    margin: 25px auto;
    clear: both;
  }
}
.page-header__logo {
  background: #1578;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.page-content {
  background: white;
  padding-top: 20px;
}
.page-content__welcome,
.page-content__congratulate {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.page-content__welcome {
  color: red;
  font-size: 18px;
  font-weight: normal;
}
.page-content__image {
  background-image: url(../img/vasil-lednev.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 320px;
  margin-bottom: 10px;
}
@media (min-width:768px) {
  .page-content__text {
    display: inline;
  }
  .page-content__image {
    float: left;
    margin-right: 10px;
  }
}
@media (min-width:992px) {
  .page-content__image {
    margin-right: 0px;
  }
}

.signup {
  width: 100%;
  margin: 0;
  padding: 5%;
  background: #f8f3f0;
  color: #000000;
}
.signup__title {
  margin: 2%;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}
.signup p {
  margin: 2%;
  font-size: 20px;
  line-height: 30px;
}
.signup__icon-user,
.signup__icon-password {
  display: block;
  width: 100%;
  margin: 2% 0;
  padding: 10px 5px;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  color: #000000;
  background-color: #f8fdff;
  border: 2px solid #95a6ad;
  outline: none;
}
.signup__error {
  color: red;
  font-size: 24px;
}
.signup__enter {
  margin: 20px auto;
}
@media (min-width: 768px) {
  .signup {
    width: 50%;
    margin: 50px auto;
    padding: 30px;
  }
  .signup__icon-user,
  .signup__icon-password {
    display: block;
    width: 90%;
    margin: 2% 5%;
    padding: 10px 20px;
  }
  .signup__title,
  .signup__enter,
  .signup p,
  .signup__error {
    margin-left: 5%;
  }
}
