
.admin-flag {
  display: block;
  width: 50px;
  height: 50px;
  background: red;
  position: fixed;
  top: 50%;
  right: 0;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0);
}
.flag {
  position: fixed;
  top: 50%;
  right: 0;
  background-color: transparent;
  width: 100px;
  height: 50px;
}
.flag::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  border-top: 25px solid red;
  border-bottom: 25px solid red;
  border-left: 50px solid transparent;
}

.admin__body {
  background: #95a6ad;
}
.admin-container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  padding: 30px;
  color: black;
  justify-content: center;
  border: 2px solid #92aac4;
  background: #f8fdff;
}
.admin-title {
  width: 100%;
  text-align: center;
}
.admin-container__row {
  display: flex;
  width: 100%;
  max-width: 800px;
  justify-content: space-between;
  vertical-align: middle;
}
.admin-container__items {
  width: 100%;
}
.admin-container__input-text {
  display: block;
  width: 78%;
  max-width: 300px;
  margin: 5px 0;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  color: black;
  background-color: #f8fdff;
  border: 2px solid #95a6ad;
  outline: none;
}
.admin-container__text:focus {
  border-radius: #95a6ad;
}
.admin-container__row p {
  margin: 0;
  padding: 15px 0 0 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  height: 30px;
}
.admin-container__item {
  display: none;
}
.admin-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.admin-container input[type="radio"] {
  display: none;
}
input[type="radio"]:nth-of-type(1):checked ~ .admin-container__items .admin-container__item:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .admin-container__items .admin-container__item:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .admin-container__items .admin-container__item:nth-of-type(3) {
  display: block;
}
input[type="radio"]:nth-of-type(1):checked ~ .admin-menu .admin-menu__item:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .admin-menu .admin-menu__item:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .admin-menu .admin-menu__item:nth-of-type(3) {
  background: rgba(146, 170, 196, 0.7);
}
@media (min-width: 768px) {
  .admin-container {
    width: 70%;
    max-width: 900px;
    margin: 30px auto;
  }
}

.main-page {
  padding: 10px 0;
  /*background-image: url(../img/books-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;*/
  background: #d4b48b;
}
.purchased-books,
.recommended-books {
  margin-bottom: 10px;
}
.purchased-books,
.recommended-books,
.interesting {
  background-image: url(../img/books-bg4.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 5vw;
}
.carousel-title {
  margin: 0;
  font-size: 6vw;
  padding-top: 3vw;
  text-align: center;
  margin-bottom: 12vw;
}
@media (min-width:540px) {
  .carousel-title {
    padding-top: 2vw;
    font-size: 5vw;
  }
}
@media (min-width:768px) {
  .purchased-books,
  .recommended-books,
  .interesting {
    padding-bottom: 3vw;
  }
  .carousel-title {
    padding-top: 0.5vw;
  }
}
@media (min-width:992px) {
  .purchased-books,
  .recommended-books,
  .interesting {
    padding-bottom: 2.5vw;
  }
  .carousel-title {
    padding-top: 1vw;
    font-size: 45px;
  }
}

.btn {
  display: block;
  width: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #8dc6e3;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: #c3ae93;
}
.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}
.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #c3ae93;
}
.file_upload {
  display: block;
  position: relative;
  overflow: hidden;
  width: 78%;
  margin: 10px 0;
  max-width: 200px;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 16px;
  line-height: 24px;
}
.file_upload input[type=file] {
  position: absolute;
  padding: 0;
  left: 0;
  top: 0;
  padding: 1px;
  margin: 10px 0;
  transform: scale(20);
  letter-spacing: 10em;
  /* IE 9 fix */
  -ms-transform: scale(20);
  /* IE 9 fix */
  opacity: 0;
  cursor: pointer;
}

.button-to-top {
  width: 100px;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 10px;
  right: 0;
  cursor: pointer;
  display: none;
  color: #333;
  z-index: 10;
}
.button-to-top img {
  opacity: 0.6;
}
.button-to-top img:hover {
  opacity: 1;
}

.carousel {
  width: auto;
  display: flex;
  overflow: hidden;
  position: relative;
}
.next,
.prev {
  font-size: 0;
  position: absolute;
  top: 50%;
  z-index: 100;
  margin: 0;
  margin-top: -20px;
  padding: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  width: 40px;
  height: 40px;
  border: none;
}
.prev:active,
.next:active {
  background: rgba(255, 255, 255, 0.7);
}
.next {
  right: 0;
}
.next:before,
.next:after,
.prev:before,
.prev:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 15px;
  background: #000;
}
.next:before,
.next:after {
  left: 14px;
}
.prev:before,
.prev:after {
  right: 14px;
}
.next:before {
  top: 14px;
  transform: rotate(45deg);
}
.next:after {
  top: 23px;
  transform: rotate(-45deg);
}
.prev:after {
  top: 14px;
  transform: rotate(135deg);
}
.prev:before {
  top: 23px;
  transform: rotate(-135deg);
}
.carousel__item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .carousel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .next,
  .prev {
    margin-top: -25px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
  }
  .prev:hover,
  .next:hover {
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }
  .next {
    right: 0;
  }
  .next:before,
  .next:after,
  .prev:before,
  .prev:after {
    height: 3px;
    width: 20px;
  }
  .next:before,
  .next:after {
    left: 17px;
  }
  .prev:before,
  .prev:after {
    right: 17px;
  }
  .next:before {
    top: 16px;
  }
  .next:after {
    top: 28px;
  }
  .prev:after {
    top: 16px;
  }
  .prev:before {
    top: 28px;
  }
}
.carousel__item {
  display: none;
  flex-shrink: 0;
  width: 50%;
  margin: 0;
  text-align: center;
  padding: 0 1%;
}
@media (min-width: 768px) {
  .carousel__item {
    width: 33%;
  }
}
@media (min-width: 1200px) {
  .carousel__item {
    width: 25%;
  }
}
* {
  box-sizing: border-box;
}
@keyframes left {
  from {
    margin-left: 0;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    margin-left: -50%;
    opacity: 0;
  }
}
@keyframes right {
  from {
    margin-left: -50%;
  }
  to {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  @keyframes left {
    from {
      margin-left: 0;
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    to {
      margin-left: -33%;
      opacity: 0;
    }
  }
  @keyframes right {
    from {
      margin-left: -33%;
    }
    to {
      margin-right: 0;
    }
  }
}
@media (min-width: 1200px) {
  @keyframes left {
    from {
      margin-left: 0;
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    to {
      margin-left: -25%;
      opacity: 0;
    }
  }
  @keyframes right {
    from {
      margin-left: -25%;
    }
    to {
      margin-right: 0;
    }
  }
}
.carousel--move-left {
  animation-name: left;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
.carousel--move-right {
  animation-name: right;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.carousel--opacity {
  animation-name: opacity;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}


nav {
  display: block;
}
.page-navbar {
  padding: 0 10px;
}
.navbar-toggler {
  margin-bottom: 5px;
}
.page-navbar__link {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid grey;
  background: white;
  color: #5b5350;
  text-transform: uppercase;
}
.page-navbar__link:hover {
  color: #080508;
}
@media (min-width:768px) {
  /*navbar page.html*/
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 0.5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex!important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}

body {
  margin: 0;
}
.second-page {
  background-image: url(../img/bg_contentblock.png);
}
.page-header {
  /*margin-bottom: 10px;*/
}
.page-header__logo {
  background: #1578;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
.page-content {
  background: white;
  padding-top: 20px;
}
.page-content__welcome,
.page-content__congratulate {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.page-content__welcome {
  color: red;
  font-size: 18px;
  font-weight: normal;
}
.page-content__image {
  background-image: url(../img/vasil-lednev.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 320px;
  margin-bottom: 10px;
}
@media (min-width:768px) {
  .page-content__text {
    display: inline;
  }
  .page-content__image {
    float: left;
    margin-right: 10px;
  }
}
@media (min-width:992px) {
  .page-content__image {
    margin-right: 0px;
  }
}
