.admin-container__row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1100px;
	justify-content: space-between;
	vertical-align: middle;
	align-items: center;
}

.start {
	justify-content: start;
}
.admin__body {
	background: #95a6ad;
}

.admin-container {
	display: flex;
	flex-wrap: wrap;
  width: auto;
	color: black;
	justify-content: center;
	border: 2px solid #92aac4;
	background: #f8fdff;
}

.admin-container--special {
	display: block;
  width: auto;
	color: black;
	border: 2px solid #92aac4;
	background: #f8fdff;
}

.admin-title {
	width: 100%;
	text-align: center;
}



.admin-container__row--central {
	max-width: none;
	justify-content: center;
}

.admin-container__row--central .btn {
	margin: 0;
}

.admin-container__items {
	width: 100%;
}
.admin-container__input-text {
  display: block;
  width: 78%;
  max-width: 300px;
  margin: 5px 0;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  color: black;
  background-color: #f8fdff;
  border: 2px solid #95a6ad;
  outline: none;
}
.admin-container__text:focus {
  border-radius: #95a6ad;
}

.admin-container__row p {
	margin: 0;
	padding: 15px 0 0 0;
	font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

.admin-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.admin-container input[type="radio"] {
    display: none;
}

input[type="radio"]:nth-of-type(1):checked ~ .admin-container__items .admin-container__item:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .admin-container__items .admin-container__item:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .admin-container__items .admin-container__item:nth-of-type(3) {
    display: block;
}

input[type="radio"]:nth-of-type(1):checked ~ .admin-menu .admin-menu__item:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .admin-menu .admin-menu__item:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .admin-menu .admin-menu__item:nth-of-type(3) {
    background: rgba(146,170,196,0.7);
}

.admin-container__row .col {
	position: relative;
	box-sizing: border-box;
	width: 12%;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	overflow: hidden;
	text-align: center;
}

.border-top {
	border-top: 1px solid black;
}
.admin-container__row .purchases-col {
	position: relative;
	box-sizing: border-box;
	width: 23%;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	overflow: hidden;
	text-align: center;
}

.admin-container__row .purchases-col:first-child{
	border-left: 1px solid black;
}

.admin-container__row .col:first-child{
	width: 4%;
	border-left: 1px solid black;
}

.admin-container__row .col:last-child,
.admin-container__row .col:nth-child(8),
.admin-container__row .col:nth-child(9) {
	width: 4%;
}



@media (min-width: 768px) {

  .admin-container {
    width: 90%;
    max-width: 1020px;
		padding: 30px;
    margin: 30px auto;
  }

	.admin-container--special {
    width: 90%;
    max-width: 1020px;
		padding: 30px;
    margin: 30px auto;
  }

	.admin-container__row {
		flex-wrap: nowrap;
	}



}

@media (min-width: 1024px) {
	.admin-menu {
		flex-wrap: nowrap;
	}
}

.admin-container__chapter-link {
	color: black;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.admin-container__chapter-link:hover,
.admin-container__chapter-link:active,
.admin-container__chapter-link:visited {
	cursor: pointer;
	color: rgba(0,0,0,0.7);
}

.admin_container__wrapper .hidden, .hidden {
	display: none;
}

.admin_container__wrapper .visible, .visible {
	display: block;
}

.admin_container__wrapper {
	padding-top: 50px;
	width: 100%;
	text-align: center;
}

.admin_container__wrapper>div {
	text-align: center;
}

.admin-container__input-text--center {
	display: inline;
	width: 100%;
	max-width: none;
}





.admin-container__row--big {
	height: 150px;
}

.admin-container__row--medium {
	height: 50px;
}

.showbook__btn {
  display: block;
	width: auto;
  padding: 2px 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.showbook__btn:hover,
.showbook__btn:active {
  color: rgba(0,0,0,0.7);
}

.showbook__btn.disabled,
.showbook__btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.showbook__btn.disabled:hover,
.showbook__btn:disabled:hover {
  color: rgba(0,0,0,0.7);
}

.del {
	position: relative;
	font-size: 0;
}

.del::after,
.del::before {
	position: absolute;
	left: center;
	top: 50%;
	margin-left: -12px;
	content: "";
	width: 25px;
	height: 3px;
	background: #000;
}

.del::after {
	transform: rotate(45deg);
}

.del::before {
	transform: rotate(-45deg);
}

.del:hover::before,
.del:hover::after,
.del:focus::before,
.del:focus::after,
.del:active::before,
.del:active::after {
	opacity: 0.5;
}

@media (max-width: 768px) {
	.admin-container__row .purchases-col {
		width: 25%;
		flex-wrap: nowrap;
	}
}

.margin-bottom {
	margin-bottom: 20px;
}

.padding-right {
	border-right: 20px solid transparent;
}

.admin-container__addition {
	font-size: 14px;
  line-height: 22px;
  font-weight: normal;
	font-style: italic;
  font-family: "Arial", sans-serif;
}

.admin-container__block {
	display: inline-block;
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid black;
}
