.admin-flag {
	z-index: 1000;
  display: block;
  width: 60px;
  height: 300px;
  background: #481c00;
  position: fixed;
  top: 30%;
  right:0;
  text-align: center;
	font-size: 18px;
	line-height: 18px;
	text-decoration: none;
  vertical-align: middle;
	color: rgba(255,255,255,1);
	border-radius: 50px 0 0 50px;
}

.admin-flag p {
	margin: 0;
	padding: 0;
}

// .flag {
// 	z-index: 1000;
// 	position: fixed;
//   top: 50%;
// 	right:0;
//   background-color: transparent;
//   width: 100px;
//   height: 50px;
// }
// .flag::before {
// 	z-index: 1000;
//   content: '';
//   display: inline-block;
//   position: absolute;
// 	right: 60px;
//   width: 0;
//   height: 0;
//   bottom: 0;
//   border-top: 25px solid #c3ae93;
//   border-bottom: 25px solid #c3ae93;
//   border-left: 50px solid transparent;
// }
