.carousel {
  width: auto;
  display: flex;
  overflow: hidden;
  position: relative;
}

.next,
.prev {
	font-size: 0;
  position: absolute;
	top: 50%;
	z-index: 100;
	margin: 0;
	margin-top: -20px;
  padding: 0;
	background: rgba(255,255,255,0.2);
	border-radius: 40px;
	width: 40px;
	height: 40px;
	border: none;
}

.prev:active,
.next:active {
	background: rgba(255,255,255,0.7);
}

.next {
  right: 0;
}

.next:before,
.next:after,
.prev:before,
.prev:after {
	content: "";
	position: absolute;

	height: 2px;
	width: 15px;

	background: #000;
}

.next:before,
.next:after {
	left: 14px;
}

.prev:before,
.prev:after {
	right: 14px;
}


.next:before {
	top: 14px;
	transform: rotate(45deg);
}


.next:after {
	top: 23px;
	transform: rotate(-45deg);
}

.prev:after {
	top: 14px;
	transform: rotate(135deg);
}

.prev:before {
	top: 23px;
	transform: rotate(-135deg);
}

.carousel__item {
	display: block;
}

.carousel__item img {
  max-width: 100%;
  height:auto;
  display: block;
  margin-right:auto;
  margin-left: auto;
	height: 200px;
}
@media (min-width: 540px) {
	.carousel__item img {
		height: 250px;
	}
}
@media (min-width: 768px) {
  .carousel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

	.next,
	.prev {
		margin-top: -25px;
		border-radius: 50px;
		width: 50px;
		height: 50px;
	}

	.prev:hover,
	.next:hover {
		background: rgba(255,255,255,0.7);
		cursor: pointer;
	}

	.next {
		right: 0;
	}

	.next:before,
	.next:after,
	.prev:before,
	.prev:after {

		height: 3px;
		width: 20px;
	}

	.next:before,
	.next:after {
		left: 17px;
	}

	.prev:before,
	.prev:after {
		right: 17px;
	}

	.next:before {
		top: 16px;
	}


	.next:after {
		top: 28px;
	}

	.prev:after {
		top: 16px;
	}

	.prev:before {
		top: 28px;
	}
	
	.carousel__item img {
		height: 300px;
	}
}
.carousel__item {
  display: none;
  flex-shrink: 0;
  width: 50%;
	overflow: hidden;
  margin: 0;
  text-align: center;
  padding: 0 1%;

}
.carousel__item--center {
  margin: auto;
}
@media (min-width: 768px) {
  .carousel__item {
    width: 33%;
	}
}
@media (min-width: 1200px) {
  .carousel__item {
    width: 25%;
  }
	
	.carousel__item img {
		height: 400px;
	}
}
* {
  box-sizing: border-box;
}
@keyframes left {
  from {
    margin-left: 0;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    margin-left: -50%;
    opacity: 0;
  }
}
@keyframes right {
  from {
    margin-left: -50%;
  }
  to {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  @keyframes left {
    from {
      margin-left: 0;
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    to {
      margin-left: -33%;
      opacity: 0;
    }
  }
  @keyframes right {
    from {
      margin-left: -33%;
    }
    to {
      margin-right: 0;
    }
  }
}
@media (min-width: 1200px) {
  @keyframes left {
    from {
      margin-left: 0;
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    to {
      margin-left: -25%;
      opacity: 0;
    }
  }
  @keyframes right {
    from {
      margin-left: -25%;
    }
    to {
      margin-right: 0;
    }
  }
}
.carousel--move-left {
  animation-name: left;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
.carousel--move-right {
  animation-name: right;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.carousel--opacity {
  animation-name: opacity;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
